{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".ts",
      ".tsx"
    ],
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    }
  },
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "plugins": [
    "import",
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/no-cycle": [
      "error",
      {
        "maxDepth": 10000000,
        "ignoreExternal": false
      }
    ],
    "semi": [
      "error",
      "never"
    ],
    "@typescript-eslint/semi": [
      "error",
      "never"
    ],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-cond-assign": "off"
  }
}