# Auto detect text files and perform LF normalization
* text=auto eol=lf

*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.svg text eol=lf

builds/* -text
index.html -text
*.png -text
